{
  "env": {
    "browser": true
  },
  "parserOptions": {
    "ecmaVersion": 9
  },
  "parser": "babel-eslint",
  "extends": ["airbnb-base", "plugin:prettier/recommended"],
  "globals": { "google": true },
  "rules": {
    "no-param-reassign": [2, { "props": false }],
    "func-names": [0, "as-needed"],
    "consistent-return": 0,
    "no-console": 0
  },
  "root": true
}
