extends layout

include mixins/_customControlForm
include mixins/_social

block content
  .inner
    // Default form login
    form.form.text-center.z-depth-1(action="/login" method="POST")
      h2 Sign in
      // Email
      input.mb-4(type="email" name="email" placeholder="E-mail")
      // Password
      input.mb-4(type="password" name="password" placeholder="Password")
      .login-options.mb-4
        // Remember me
        +customControlForm("loginFormRemember","remember","true","Remember me")
        // Forgot password
        p: a.blue-text(href="#forgotPassword") Forgot password?
      // Sign in button
      button.btn.btn-rounded.btn-block.rainy-ashville-gradient(type="submit") Sign in
      // Social login
      p or sign in with:
      +social()
      // Register
      p
        | Not a member?
        a.blue-text(href="/register")  Register
    // Default form login
    form#forgotPassword.form.text-center.z-depth-1(action="/account/forgot" method="POST")
      h2 I forgot my password!
      input.mb-4(type="email" name="email" placeholder="E-mail")
      button.btn.btn-rounded.btn-block.purple-gradient(type="submit") Send a reset