extends layout

include mixins/_social
include mixins/_customControlForm

block content
  .inner
    form.form.text-center.z-depth-1(action="/register" method="POST")
      h2 Sign up
      // user name
      input.mb-4(type="text" name="name" placeholder="User name" required="required")
      // E-mail
      input.mb-4(type="email" name="email" placeholder="E-mail" required="required")
      // Password
      input.mb-4(type="password" name="password" placeholder="Password" required="required")
      input.mb-4(type="password" name="password-confirm" placeholder="Confirm Password" required="required")
      // Newsletter
      .mb-4
        +customControlForm("subscribeFormNewsletter","subscribe","true","Subscribe to our newsletter")
      // Sign up button
      button.btn.btn-rounded.btn-block.aqua-gradient(type="submit") Sign up
      // Social register
      p or sign up with:
      +social()