extends layout

block content
	.inner
		form.form(method="POST")
			h2 Reset Your Password
			label(for="password") Password
			input(type="password" name="password")
			label(for="password-confirm") Confirm Password
			input.mb-4(type="password" name="password-confirm")
			button.btn.btn-rounded.btn-block.purple-gradient(type="submit") Reset Password →
