mixin reviewForm(store)
  form.reviewer(action=`/reviews/${store._id}` method="POST")
    textarea(name="text" placeholder="Did you try this place? Have something to say? Leave a review..." required="required")
    button.btn.btn-block.young-passion-gradient(type="submit") Submit Review →
