mixin social()
  a(href="/auth/facebook"): button.btn.btn-block.btn-rounded.dusty-grass-gradient.mr-3.mb-4(type="button")
    i.fab.fa-facebook-f.icon-font.blue-text acebook
  //- button.btn.dusty-grass-gradient.btn-rounded.mr-3.btn-floaing
  //-   i.fab.fa-twitter.icon-font.light-blue-text
  a(href="/auth/google"): button.btn.btn-block.btn-rounded.dusty-grass-gradient.mr-3(type="button")
    i.fab.fa-google.icon-font.red-text oogle +
  //- button.btn.dusty-grass-gradient.btn-rounded.btn-floaing
  //-   i.fab.fa-github.icon-font