mixin social()
	a(href="/auth/facebook"): button.btn.btn-block.btn-rounded.dusty-grass-gradient.mr-3.mb-3(type="button")
		i.fab.fa-facebook-f.icon-font.blue-text acebook
	a(href="/auth/google"): button.btn.btn-block.btn-rounded.dusty-grass-gradient.mr-3.mb-3(type="button")
		i.fab.fa-google.icon-font.red-text oogle +
	//- a(href="/auth/twitter"): button.btn.btn-block.btn-rounded.dusty-grass-gradient.mr-3(type="button")
	//- 	i.fab.fa-tumblr.icon-font.light-blue-text witter