.peach-gradient {
  background: $peach-gradient;
}

.dusty-grass-gradient {
  background: $dusty-grass-gradient;
}

.young-passion-gradient {
  background: $young-passion-gradient;
}

.purple-gradient {
  background: $purple-gradient;
}

.rainy-ashville-gradient {
  background: $young-passion-gradient;
}

.cloudy-knoxville-gradient {
  background: $cloudy-knoxville-gradient;
}

.blue-gradient {
  background: $blue-gradient;
}

.aqua-gradient {
  background: $aqua-gradient;
}
